.form-edit__title {
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 900;
    max-width: 330px;
    font-size: 24px;
    line-height: 100%;
    padding-bottom: 54px;
}

@media(max-width:890px) {
    .form-edit__title {
        max-width: 238px;
        font-size: 18px;
        padding-bottom: 75px;
    }
}