.card__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 21px;
    margin-top: 25px;
    margin-right: 15px;
    max-width: 246px;
    margin-bottom: 31px;
}

@media (max-width:890px) {
    .card__content {
        /*padding-bottom: 31px;*/
    }
}