.card__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 21px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 32px;

}

@media (max-width:890px) {
    .card__content {
        padding-bottom: 31px;
    }
}