.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 880px;
    padding-top: 45px;
    min-height: 74px;
    border-bottom: 1px solid #545454;
}

@media (max-width:890px) {
    .header {
        min-height: 56px;
        width: 100%;
        padding-top: 28px;
    }
}