.card__button {
    background-image: url(../../../images/Group.svg);
    background-repeat: no-repeat;

    width: 22px;
    height: 19px;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    border: 0;
    background-color: transparent;
    flex-shrink: 0;
}

.card__button:hover {
    opacity: 0.5;
}