.popup__button-submit {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    max-width: 358px;
    min-height: 50px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 2px;
    border: 0;
    padding-left: 125px;
    padding-right: 124px;
    padding-top: 14px;
    padding-bottom: 18px;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    margin-top: 31px;
}

.popup__button-submit:hover {
    opacity: 0.8;
}

@media (max-width:890px) {
    .popup__button-submit {
        width: 238px;
        height: 46px;
        text-align: center;
        font-size: 14px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 28px;
    }
}