.card__del {
    background-image: url(../../../images/icon__delete.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    background-color: transparent;
    width: 18px;
    height: 19.3px;
    transition: opacity .3s ease-in-out;
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
}

.card__del:hover {
    opacity: 0.5;
}