.user__button-add {
    width: 150px;
    height: 50px;
    border-radius: 2px;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    transition: opacity .3s ease-in-out;
}

.user__button-add:hover {
    opacity: 0.6;
}

@media(max-width:890px) {
    .user__button-add {
        width: 282px;
    }
}