.logo {
    width: 142px;
    height: 33px;
    padding-bottom: 41px;
}

@media (max-width:890px) {
    .logo {
        width: 103.74px;
        height: 24.4px;
        padding-bottom: 31.6px;
    }
}