.button__edit {
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
}

@media (max-width:890px) {
    .button__edit {
        width: 18px;
        height: 18px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}