.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 880px;
    padding-top: 45px;
    border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

@media (max-width:890px) {
    .header {
        padding-top: 28px;
        padding-left: 27px;
        padding-right: 27px;
    }
}