.form-edit__input {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #000000;
    padding-top: 0;
    padding-bottom: 13px;
    max-width: 358px;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


.form-edit__input:last-child {

    margin-bottom: 0;
}

@media(max-width:890px) {
    .form-edit__input {
        max-width: 238px;
    }
}